@import url(https://fonts.googleapis.com/css?family=Poiret+One);
@import url(https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css);

$border-radius: 20px;
$font-weight: 600;

.widget {
    flex-direction: column;
    display: flex;
    height: 25rem;
    width: 40rem;
    border-radius: $border-radius;
    box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3), 0 17px 17px 0 rgba(0, 0, 0, 0.15);

    .font {
        letter-spacing: 2px;
    }

    .weatherIcon {
        flex: 1 100%;
        height: 60%;
        border-top-left-radius: $border-radius;
        border-top-right-radius: $border-radius;
        background: #fafafa;
        font-family: weathericons;
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-size: 7em;

        i {
            padding-top: 2rem;
        }
    }

    .weatherIcon-2 {
        width: 100%;
        height: 18%;
        border-bottom-left-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
        background: #fafafa;
        font-family: weathericons;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding: 0.8rem 0;

        .vertical-separator-purple {
            border-left: 1px solid #9e00b3;
            height: 80%;
        }

        .weatherIcon-2-child {
            display: flex;
            flex: 0 0 19%;
            gap: 0.5rem;
            justify-content: center;

            .icon {
                color: rgb(160, 0, 160);
                font-size: 2em;
            }

            .text {
                color: #080705;
                display: flex;

                .text-primary {
                    font-size: 2em;
                }

                .text-secondary {
                    font-size: 0.5em;
                }
            }
        }
    }

    .weather-info-date-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 26%;

        .weatherInfo {
            flex: 0 0 70%;
            height: 100%;
            background: #080705;
            display: flex;
            gap: 1rem;
            align-items: center;
            color: white;
            justify-content: flex-end;
            padding: 0.8rem 0;

            * {
                flex: 0 0 29%
            }

            .temperature {
                font-size: 3.5em;
            }

            .place-weather-mood {
                display: flex;
                flex-direction: column;
                position: relative;
                right: 5px;

                .weather-mood {
                    font-size: 2.5rem;
                }

                .place {
                    font-size: 1em;
                    font-weight: $font-weight;
                }
            }

            .weather-condition {
                display: flex;
                flex-direction: column;
                position: relative;
                top: 5px;

                .weather-condition-text {
                    font-size: 2.5em;
                }

                .weather-condition-feels-like {
                    font-size: 1em;
                    font-weight: $font-weight;
                }
            }
        }

        .date {
            padding: 0.8rem 0;
            flex: 0 0 30%;
            height: 100%;
            background: #910091;
            display: flex;
            justify-content: space-around;
            align-items: center;
            color: white;
            font-size: 2em;
            font-weight: 800;
        }
    }
}

p {
    position: fixed;
    bottom: 0%;
    right: 2%;
}