@import url(https://fonts.googleapis.com/css?family=Poiret+One);
@import url(https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css);

$border-radius: 20px;
$font-weight: 600;

.widget {
    position: absolute;
    top: 60%;
    left: 50%;
    display: flex;
    height: 400px;
    width: 650px;
    transform: translate(-50%, -50%);
    flex-wrap: wrap;
    border-radius: $border-radius;
    box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3), 0 17px 17px 0 rgba(0, 0, 0, 0.15);

    .font {
        letter-spacing: 2px;
    }

    .weatherIcon {
        flex: 1 100%;
        height: 60%;
        border-top-left-radius: $border-radius;
        border-top-right-radius: $border-radius;
        background: #fafafa;
        font-family: weathericons;
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-size: 100px;

        i {
            padding-top: 30px;
        }
    }

    .weatherIcon-2 {
        width: 100%;
        height: 18%;
        border-bottom-left-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
        background: #fafafa;
        font-family: weathericons;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        .vertical-separator-purple {
            border-left: 1px solid #9e00b3;
            height: 80%;
        }

        .weatherIcon-2-child {
            display: flex;
            flex: 0 0 19%;
            justify-content: space-evenly;
            .icon {
                color: rgb(160, 0, 160);
                font-size: 29px;
            }

            .text {
                color: #080705;
                display: flex;

                .text-primary {
                    font-size: 28px;
                }

                .text-secondary {
                    font-size: 19px;
                }
            }
        }
    }

    .weather-info-date-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 26%;

        .weatherInfo {
            flex: 0 0 70%;
            height: 100%;
            background: #080705;
            display: flex;
            align-items: center;
            color: white;
            justify-content: space-evenly;

            .temperature {
                font-size: 55px;
            }

            .place-weather-mood {
                display: flex;
                flex-direction: column;
                position: relative;
                right: 5px;

                .weather-mood {
                    font-size: 35px;
                }

                .place {
                    font-size: 16px;
                    font-weight: $font-weight;
                }
            }

            .weather-condition {
                display: flex;
                flex-direction: column;
                position: relative;
                top: 5px;
                .weather-condition-text {
                    font-size: 35px;
                }

                .weather-condition-feels-like {
                    font-size: 16px;
                    font-weight: $font-weight;
                }
            }
        }

        .date {
            flex: 0 0 30%;
            text-align: center;
            height: 100%;
            background: #910091;
            display: flex;
            justify-content: space-around;
            align-items: center;
            color: white;
            font-size: 21px;
            font-weight: 800;
        }
    }
}

p {
    position: fixed;
    bottom: 0%;
    right: 2%;
}
