@import url(https://fonts.googleapis.com/css?family=Poiret+One);
@import url(https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css);

$border-radius: 20px;
$font-weight: 600;

.widget {
    flex-direction: column;
    display: flex;
    // height: 25rem;
    // width: 40rem;
    // width: 60%;
    border-radius: $border-radius;
    box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3), 0 17px 17px 0 rgba(0, 0, 0, 0.15);

    @media screen and (max-width: 540px) {
        // * {
        // }
    }

    .font {
        letter-spacing: 1px;
    }

    .weatherIcon {
        border-top-left-radius: $border-radius;
        border-top-right-radius: $border-radius;
        background: #fafafa;
        font-family: weathericons;
        display: grid;
        place-items: center;
        padding: 2rem 8rem;
        font-size: 3em;

        i {
            position: relative;
            top: 5px;
        }
    }

    .weatherIcon-2 {
        border-bottom-left-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
        background: #fafafa;
        font-family: weathericons;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding: 0.8rem 0;
        font-size: 0.8em;

        .vertical-separator-purple {
            border-left: 1px solid #9e00b3;
            height: 80%;
        }

        .weatherIcon-2-child {
            display: flex;
            gap: 0.3rem;
            justify-content: center;

            .icon {
                color: rgb(160, 0, 160);
            }

            .text {
                color: #080705;
                display: flex;

                .text-primary {
                }

                .text-secondary {
                }
            }
        }
    }

    .weather-info-date-container {
        display: flex;

        .weatherInfo {
            background: #080705;
            display: flex;
            gap: 1rem;
            align-items: center;
            color: white;
            padding: 0.8rem;
            font-size: 0.8em;

            .temperature {
            }

            .place-weather-mood {

                .weather-mood {
                }

                .place {
                    font-weight: $font-weight;
                }
            }

            .weather-condition {

                .weather-condition-text {
                }

                .weather-condition-feels-like {
                    font-weight: $font-weight;
                }
            }
        }

        .date {
            padding: 0.5rem;
            background: #910091;
            display: grid;
            place-items: center;
            color: white;
            font-weight: 800;
        }
    }
}